<article class="l-chat-container">
    <div class="c-search">
        <input type="search" class="c-search__input input--search-icon" placeholder="Search messages..." />
    </div>
    <div class="c-chat">
        <p class="c-chat__time-title">Today, 17.03.2018</p>
        <ul class="c-chat__message-list">
            <li class="c-chat__message-container is-incomming">
                <div class="c-chat__sender-photo--crop">
                    <img src="../../public/imgs/profile-3.png" alt="sender photo" class="c-chat__sender-photo">
                </div>
                <div class="c-chat__message">
                    <span class="c-chat__message-text">On the other hand, we denounce with righteous indignation!
                    </span>
                    <span class="c-chat__message-time">01:14</span>
                </div>
            </li>
            <li class="c-chat__message-container">
                <div class="c-chat__message">
                    <span class="c-chat__message-text">Which is the same as saying?</span>
                    <span class="c-chat__message-time">01:38</span>
                </div>
            </li>
            <li class="c-chat__message-container is-incomming">
                <div class="c-chat__sender-photo--crop">
                    <img src="../../public/imgs/profile-3.png" alt="sender photo" class="c-chat__sender-photo">
                </div>
                <div class="c-chat__message">
                    <span class="c-chat__message-text">But in certain circumstances and owing to the claims of duty or
                        the obligations of business it will frequently occur that pleasures </span>
                    <span class="c-chat__message-time">01:14</span>
                </div>
            </li>
            <li class="c-chat__message-container">
                <div class="c-chat__message">
                    <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                    <span class="c-chat__message-time">01:38</span>
                </div>
            </li>


            <li class="c-chat__message-container">
                    <div class="c-chat__message">
                        <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                        <span class="c-chat__message-time">01:38</span>
                    </div>
                </li>
                <li class="c-chat__message-container">
                        <div class="c-chat__message">
                            <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                            <span class="c-chat__message-time">01:38</span>
                        </div>
                    </li>
                    <li class="c-chat__message-container">
                            <div class="c-chat__message">
                                <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                                <span class="c-chat__message-time">01:38</span>
                            </div>
                        </li>
                        <li class="c-chat__message-container">
                                <div class="c-chat__message">
                                    <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                                    <span class="c-chat__message-time">01:38</span>
                                </div>
                            </li>
                            <li class="c-chat__message-container">
                                    <div class="c-chat__message">
                                        <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                                        <span class="c-chat__message-time">01:38</span>
                                    </div>
                                </li>
                                <li class="c-chat__message-container">
                                        <div class="c-chat__message">
                                            <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                                            <span class="c-chat__message-time">01:38</span>
                                        </div>
                                    </li>
                                    <li class="c-chat__message-container">
                                            <div class="c-chat__message">
                                                <span class="c-chat__message-text">To take a trivial example, which of us ever undertakes)</span>
                                                <span class="c-chat__message-time">01:38</span>
                                            </div>
                                        </li>
                                        
        </ul>
    </div>
    <div class="c-write-message">
        <input type="text" class="c-write-message__input" placeholder="Write a messages..." />
        <div class="buttons">
            <button type="button" class="c-write-message__button button-icon icon--stiсker"></button>
            <button type="button" class="c-write-message__button button-icon icon--attach"></button>
            <button type="button" class="c-write-message__button button-icon icon--send is-active"></button>
        </div>
    </div>
</article>