<ul class="l-contact__list">
    <li class="l-contact__item c-contact">
            <div class="c-contact__image--crop">
        <img src="../../public/imgs/profile-1.png" alt="contact photo" class="c-contact__image">
    </div>
        <div class="l-contact__info">
                <div class="l-contact__name__messange">
            <p class="c-contact__name is-online">Miranda Hops</p>
            <span class="c-contact__last-message">Excepteur sint occaecatar…</span>
            </div>
            <span class="c-contact__last-chat-time">9:32</span>
        </div>
    </li>
    <li class="l-contact__item c-contact">
        <div class="c-contact__image--crop">
            <img src="../../public/imgs/profile-2.png" alt="contact photo" class="c-contact__image">
        </div>
        <div class="l-contact__info">
                <div class="l-contact__name__messange">
            <p class="c-contact__name">Barry Callebaut</p>
            <span class="c-contact__last-message">Nemo enim ipsam volupta…</span>
            </div>
            <span class="c-contact__last-chat-time">22:01</span>
        </div>
    </li>
    <li class="l-contact__item c-contact is-active">
            <div class="c-contact__image--crop">
        <img src="../../public/imgs/profile-3.png" alt="contact photo" class="c-contact__image">
    </div>
        <div class="l-contact__info">
            <div class="l-contact__name__messange">
                    <p class="c-contact__name is-online is-mute">Stacey Dosh</p>
                    <span class="c-contact__last-message">Ut enim ad minima veniam…</span>        
            </div>
            <span class="c-contact__last-chat-time">19:15</span>
        </div>
    </li>
    <li class="l-contact__item c-contact">
            <div class="c-contact__image--crop">
        <img src="../../public/imgs/profile-4.png" alt="contact photo" class="c-contact__image">
    </div>
        <div class="l-contact__info">
                <div class="l-contact__name__messange">
            <p class="c-contact__name">Michael Kors</p>
            <span class="c-contact__last-message">To take a trivial example…</span>
           </div>
            <span class="c-contact__last-chat-time">13:49</span>
        </div>
    </li>
    <li class="l-contact__item c-contact">
            <div class="c-contact__image--crop">
        <img src="../../public/imgs/profile-5.png" alt="contact photo" class="c-contact__image">
        </div>
        <div class="l-contact__info">
                <div class="l-contact__name__messange">
            <p class="c-contact__name is-online">Johny Cash</p>
            <span class="c-contact__last-message">Great explorer of the truth…</span>
            </div>
            <span class="c-contact__last-chat-time">10:25</span>
        </div>
    </li>
    <li class="l-contact__item c-contact">
            <div class="c-contact__image--crop">
        <img src="../../public/imgs/profile-6.png" alt="contact photo" class="c-contact__image">
    </div>
        <div class="l-contact__info">
                <div class="l-contact__name__messange">
            <p class="c-contact__name">Stacey Dosh</p>
            <span class="c-contact__last-message">Ut enim ad minima veniam…</span>
            </div>
            <span class="c-contact__last-chat-time">08:53</span>
        </div>
    </li>

</ul>