<header class="l-header">
    <button type="button" class="c-menu__toggle_button" id="menu__toggle_button">☰</button>
    <ul class="c-breadcrumbs">
        <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="#">Home</a></li>
        <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="#">Network</a></li>
    </ul>
    <div class="c-userinfo">
        <div class="c-userinfo__photo"></div>
        <p class="c-userinfo__name">Sarah Freeman</p>
        <button type="button" class="c-userinfo__button button-icon icon--arrow"></button>
    </div>
</header>