<nav class="l-sidebar" id="sidebar">
    <div class="c-logo">
        <a class="c-logo__link" href="#">
            <img src="../../public/imgs/logo.png" alt="logo image" class="c-logo__image">
        </a>
    </div>
    <ul class="c-menu">
        <li class="c-memu__item"><a href="#" class="c-menu__link button-icon icon--calendar is-unlooked"></a></li>
        <li class="c-memu__item"><a href="#" class="c-menu__link button-icon  icon--profile"></a></li>
        <li class="c-memu__item"><a href="#" class="c-menu__link button-icon icon--setting"></a></li>
        <li class="c-memu__item"><a href="#" class="c-menu__link button-icon icon--team"></a></li>
        <li class="c-memu__item"><a href="#" class="c-menu__link button-icon icon--message"></a></li>
    </ul>
</nav>